<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <title>Gp Bootstrap Template - Index</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="../static/assets/img/favicon.png" rel="icon">
  <link href="../static/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="../static/assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="../static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../static/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="../static/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="../static/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="../static/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="../static/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="../static/assets/css/style.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Gp - v4.10.0
  * Template URL: https://bootstrapmade.com/gp-free-multipurpose-html-bootstrap-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>
<style>
body {font-family: Arial, Helvetica, sans-serif;}
form {border: 3px solid #f1f1f1;}

input[type=text], input[type=password] {
  width: 250px;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
.center{
  margin: auto;
  width: 300px;
  padding: 10px;
}
.checked {
  color: orange;
}
</style>
<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top ">
    <div class="container d-flex align-items-center justify-content-lg-between">

      <h1 class="logo me-auto me-lg-0"><a href="../user_home">ISL<span>.</span></a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo me-auto me-lg-0"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

      <nav id="navbar" class="navbar order-last order-lg-0">
        <ul>
          <li><a class="nav-link scrollto " href="../user_home">Home</a></li>
          <li><a class="nav-link scrollto" href="../profile">Profile</a></li>
          <li><a class="nav-link scrollto" href="#about">About</a></li>
          <li class="dropdown active"><a href="#"><span>Teams</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              {% for data in data %}
              <li><a href="../user_team_view/{{data.0}}">{{data.1}}</a></li>
              {% endfor %}
            </ul>
          </li>
           <li class="dropdown"><a href="#"><span>Tickets</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
                    <li><a href="../book_ticket">Get Tickets</a></li>
                    <li><a href="../booked_tickets">History</a></li>
            </ul>
          </li>
          <li class="dropdown"><a href="#"><span>Feedback</span> <i class="bi bi-chevron-down"></i></a>
          <ul>
                    <li><a href="../feedback">Add Feedback</a></li>
                    <li><a href="../view_fb">View Feedback</a></li>
          </ul>
          </li>
          <li class="dropdown"><a href="#"><span>Matches</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li class="dropdown"><a href="#"><span>Coming Matches</span> <i class="bi bi-chevron-right"></i></a>
                <ul>
                  {% for match in matches %}
                    <li><a href="../user_view_match/{{match.6}}">{{match.4}} v/s {{match.5}}</a></li>
                  {% endfor %}
                </ul>
              </li>
              <li class="dropdown"><a href="#"><span>Previous Matches</span> <i class="bi bi-chevron-right"></i></a>
                <ul>
                  {% for match in pmatches %}
                    <li><a href="../user_view_match/{{match.6}}">{{match.4}} v/s {{match.5}}</a></li>
                  {% endfor %}
                </ul>
              </li>
            </ul>
          </li>
          <li><a class="nav-link scrollto" href="#rate">Team Rates</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->


      <a href="#logout" class="get-started-btn scrollto">Logout</a>

    </div>
  </header><!-- End Header -->
<section id="hero" class="d-flex align-items-center justify-content-center">
<div class="container" align="center" style="height:55vh; margin-top:300px; margin-bottom: 125px; overflow:scroll; ">
<table class="table container" style="color:white; text-align:left; margin-top:-450px;">
      <tr>
        <th colspan="3" style="text-align:left;"><h3>Your Feedbacks</h3></th>
      </tr>
        <tr style="color:red;">
            <th>Send</th>
            <th>Time</th>

        </tr>
            {% for data in table %}
        <br>

        <tr>
            <td>{{data.2}}</td>
            <td>{{data.3}}</td>

        </tr>


        <br>
            {% endfor %}

    </table>
</div>
</section>
 <section id="about" class="about">
      <div class="container" data-aos="fade-up">

        <div class="row">
          <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">
            <img src="../static/assets/img/img_3.png" class="img-fluid" alt="">
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content" data-aos="fade-right" data-aos-delay="100">
            <h3>ABOUT INDIAN SUPER LEAGUE.</h3>
            <p class="fst-italic">
              The Hero Indian Super League (ISL) is India’s unrivalled football championship which kicked off on October 12, 2014. The inaugural winners of the league were ATK FC, while Chennaiyin FC were the winners of the second season. The third edition of the Hero ISL saw ATK FC reclaim the trophy, winning their second in three years, while the fourth season saw Chennaiyin win back the trophy. Bengaluru FC won the title in the 2018-19 season. In the 2019-20 edition, ATK FC came back strong yet again and added a third trophy to their cabinet. In the 2020-21 season – that also saw the inclusion of SC East Bengal and ATK Mohun Bagan -- Mumbai City FC emerged victorious.
            </p>
            <p>
              The league is co-promoted by Reliance, Star India and supported by the All India Football Federation (AIFF). India’s leading industrialists and celebrities from sports as well as the Indian film industry have heavily invested in the league’s 11 franchises based in the following cities: Chennai, Bhubaneswar, Goa, Guwahati, Kochi, Kolkata, Mumbai, Hyderabad, Bengaluru and Jamshedpur.
            </p>
            <p>
              The league is committed to investing in stadium refurbishment in the ten identified venues and also to a strong grassroots development programme that will create a platform to groom football talent in the country. With a mission to revolutionise the sport, the Hero ISL is positioned as a high quality and dynamic league that will elevate Indian football to an international level.
            </p>
            <ul>
              <li><i class="ri-check-double-line"></i><b>OUR MISSION</b> .<p>To provide an entertaining and high-quality football league that engages hundreds of millions of fans, drives improvement in playing standards and delivers value for all partners.</p></li>
              <li><i class="ri-check-double-line"></i><b>OBJECTIVES</b>. <p>To present an international-quality domestic football competition
                                                                        <p>To engage hundreds of millions of passionate and proud Indian football fans</p>
                                                                        <p>To encourage and facilitate the masses to start playing the sport</p>
                                                                        <p>To produce a large pool of talented Indian players and ‘heroes’ to play for the Indian national team</p>
                                                                        <p>To set new standards in sports administration, governance and marketing in India</p>
                                                                        <p>To deliver value to all our stakeholders and partners and create demand for further investment</p></li>
            </ul>

          </div>
        </div>

      </div>
    </section><!-- End About Section -->
<section id="rate"  >
<div class="container" align="center" style=" min-height:50vh; margin-top:100px; margin-bottom: 75px;">
{% for rate in rates %}
  <img src="../media/{{rate.3}}" class="img-fluid" alt=""><h3><a href="../user_team_view/{{rate.0}}">{{rate.2}}</a></h3>
<div style="width: 350px;

  background-color: #ddd;; text-align: center">
  <div style="width:{{rate.1}}%; background-color:#04AA6D;
  padding-top: 2px;
  padding-bottom: 2px;
  color: white;">{{rate.1}}%</div>
</div>
  <br>
{% endfor %}
</div>
</div>
</section>

    <!-- ======= Clients Section ======= -->
    <section id="clients" class="clients">
      <div class="container" data-aos="zoom-in">

        <div class="clients-slider swiper">
          <div class="swiper-wrapper align-items-center">
            {% for data in data %}
            <div class="swiper-slide"><img src="../media/{{data.5}}" class="img-fluid" alt=""></div>
            {% endfor %}
          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>
    </section><!-- End Clients Section -->

    <section id="testimonials" class="testimonials">
      <div class="container" data-aos="zoom-in">

        <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
          <div class="swiper-wrapper">

            <div class="swiper-slide">
              <div class="testimonial-item">
                <img src="assets/img/testimonials/testimonials-1.jpg" class="testimonial-img" alt="">
                <h3>Arena Sport</h3>
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  Serbia, Croatia, Montenegro, Bosnia & Herzegovina, Slovenia, North Macedonia, Kosovo
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <img src="assets/img/testimonials/testimonials-2.jpg" class="testimonial-img" alt="">
                <h3>TVWAN Action and TVWAN Sports</h3>

                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  Fiji, Papua New Guinea, Solomon Islands, Samoa, Cook Islands, Vanuatu, American Samoa, Kiribati, Tuvalu, Niue, Tokelau, Tahiti, New Caledonia, Tonga, Nauru.
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <img src="assets/img/testimonials/testimonials-3.jpg" class="testimonial-img" alt="">
                <h3>The OneFootball App</h3>
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  Brazil, Italy, Germany, Argentina, Spain, Mexico, Colombia, France, Chile, United Kingdom, Ecuador, Peru, United States, Portugal, Indonesia, Austria, Netherlands, Switzerland, Venezuela, Algeria, Bolivia, Guatemala, Belgium, Uruguay, Egypt, El Salvador, Honduras, Morocco, Costa Rica, Russian Federation, South Africa, Canada, Panama, Poland, Paraguay, Malaysia, Ireland, Greece, Australia, Turkey, Tunisia, Singapore, Cuba, Sweden, United Arab Emirates, Nicaragua, Jamaica, Denmark, Kenya, Nigeria
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
              </div>
            </div><!-- End testimonial item -->

<!-- End testimonial item -->
          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>
    </section><!-- End Testimonials Section -->



  </main><!-- End #main -->
      <section id="logout">
<head>

    <script>

        function disableBackButton() {
            window.history.forward();
        }

    </script>
</head>
<body onunload="disableBackButton()" onload="disableBackButton()">
<div class="container" align="center" style=" min-height:50vh; margin-top:100px; margin-bottom: 75px;">
    <h3 style="color:red; align:center;"> To Logout Click Here..  <a href="../login" ><b><u>LogOut</u></b></a> </h3>
</div>
</body>
      </section>
  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="footer-top" >
      <div class="container" style="width:70%; text-align:center;">
        <div class="row container" >

          <div class="col-xl-8 container">
            <div class="footer-info container">
              <h3>ISL<span>.</span></h3>
              <p>
                A108 Adam Street <br>
                NY 535022, USA<br><br>
                <strong>Phone:</strong> +1 5589 55488 55<br>
                <strong>Email:</strong> info@example.com<br>
              </p>
              <div class="social-links mt-3">
                <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
                <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
                <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
                <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
                <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
              </div>
            </div>
          </div>


        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>2023</span></strong>. All Rights Reserved
      </div>
      <div class="credits">

      </div>
    </div>
  </footer><!-- End Footer -->

  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="../static/assets/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="../static/assets/vendor/aos/aos.js"></script>
  <script src="../static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../static/assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="../static/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="../static/assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="../static/assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="../static/assets/js/main.js"></script>

</body>

</html>